
* {
    font-family:'Roboto' 'sans-serif';
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: auto;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 450px;
}

.content-1{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 450px;
    flex: auto;
}

.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 450px;
    flex: auto;
}

.cards{
    display: flex;
    flex-wrap: nowrap;
    gap: 16px
}

.subtext {
    color: #1f2937;
}

.content-3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 450px;
    flex: auto;
}

.italic {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.content-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 450px;
    flex: auto;
}

.blue-box {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 32px 150px;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
}

.lower-button-container {
    align-self: center;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 450px;
}

button {
    background-color: #3882f6;
    color:#f9faf8;
    border-style: none;
    border-radius: 6px;
    padding: 4px 12px;
}

.lower-button {
    border-style: solid;
    border-color: #f9faf8;
    border-width: 0.75px;
}

p {
    color: #e5e7eb;
    font-size: 18px;
}

h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

h2{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

h3{
    color: #f9faf8;
    font-size: 24px;
}

h4 {
    font-weight: bold;
    align-self: flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
    align-self: center;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    width: 100px;
    background-color: orange;
    border-color: #3882f6;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

.sec1-img {
    width: 175px;
    border-width: 0;
    border-radius: 0;
}