
* {
    font-family:'Roboto';
}

body {
    display: flex;
    flex-direction: column;
}

header {

}

.content-1{

}

.content-2{
    
}

.cards{

}

.content-3{
    
}

.content-4{
    
}

footer {

}

p {

}

h1{

}

h2{

}

h3{

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}